

#dollar{
  font-size: 75px;
  display: inline;
  font-family: 'digital-7regular';
  float: right;
}

#display {
  font-size: 75px;
  display: inline;
  font-family: 'digital-7regular';
  float: right;
}


#topContainer{
  width: 83%;
  margin-left: 106px;
  padding: 10px;
  background-color: #d6d7d8;
  border: solid 20px #929393;
  border-radius: 3%;
  margin-right: 100px;
  height: 67px;
}

#container{
  width: 87%;
  margin-left: 106px;
  padding: 10px;
  background-color: grey;
  border-radius: 1%;
}

.button {
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
  width: 15%;
  height: 100%;
}

.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}



.button:hover {
  cursor: pointer;
}


#targetClear{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
  width: 30%;
}

#targetGetBalance{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  width: 30%;
}

#targetDepositCash{
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
  width: 30%;
}

#targetWithdrawCash{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
  width: 30%;
}

.row1{
  margin-left:50px;
  margin-top: 5px;
}
.row2{
  margin-left:50px;
}
.row3{
  margin-left:50px;
}
.row4{
  margin-left:50px;
}
.row5{
  margin-left:50px;
  margin-bottom: -10px;
}