.button {
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
}

.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

#display {
  font-size: 50px;
}

.button:hover {
  cursor: pointer;
}

#container{
  width: 80%;
  border
}

#targetClear{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

#targetGetBalance{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

#targetDepositCash{
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

#targetWithdrawCash{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}